body {
  min-width: 900px;
}

.startBtn-container {
  margin-block: 20%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-title-container {
  text-align: center;
  margin-top: 12em;
  margin-bottom: 3em;
  max-width: 750px;
}

.question-title {
  font-weight: 500;
  line-height: 1.2em;
}

#startBtn {
}

.questionBtn {
  background: linear-gradient(#22284e, #22284e) padding-box,
    linear-gradient(180deg, #adb5e4, #22284e) border-box;
  color: #e2ffff;
  padding: 1.3em 3.5em;
  border: 5px solid transparent;
  border-radius: 50px;
  display: inline-block;
  font-size: 28px;
  font-size: 1.3em;
  font-weight: 500;
  margin-block: 1em;
  margin-right: 2em;
  max-width: 380px;
  min-width: 380px;
}

/* {
    background-color: #ae0187;
    border-radius: 60px;
    border: 2px solid white;
} */

.questionBtn:hover {
  box-shadow: none;
}

.questionBtn.clickedBtn {
  background: linear-gradient(#aa0085, #81005d) padding-box,
    linear-gradient(180deg, #f1bde3, #81005d) border-box;
}

.question-container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 780px;
  max-width: 1000px;
}

h4 {
  font-weight: 700;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.span {
  color: #ae0187;
  font-weight: 700;
}

footer {
  padding-top: 5em;
  padding-bottom: 1em;
}

.question-number {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 3px;
}
